* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: lightgray;
}

article {
  margin: 20px;
  border-radius: 6%;
  box-shadow: 20px;
  background-color: whitesmoke;
}

#logo {
  border-radius: 6%;
  margin: 2%;
}

.text {
  margin: 2%;
}
