* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: lightgray;
}

article {
  padding: 2%;
  margin: 20px;
  border-radius: 6%;
  box-shadow: 20px;
  background-color: white;
}

#logo {
  border-radius: 6%;
}

.text {
  margin: 0.5rem;
}

.account {
  opacity: 0.4;
}

button {
  border: 0;
  background-color: white;
  color: lightskyblue;
  border-radius: 50%;
}
